@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  font-size: 20px;
}

header button {
  background: none;
  cursor: pointer;
  padding: 10px;
  color: rgb(100, 100, 100);
  font-size: 20px;
  box-shadow: 0px 2px 5px rgba(101, 0, 178, 0.547);
  border: transparent;
}

#menu-button {
  border-radius: 10px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}

#close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-top: 12px;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  align-self: self-end;
  padding: 20px;
}

#menu-button:hover,
#menu-button:active {
  color: black;
}

#close-button:hover,
#close-button:active {
  color: black;
}

.navbar {
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  position: fixed;
  top: 0;
  right: -250px;
  width: 60%;
  height: 100vh;
  background: #fff;
  transition: right 0.3s ease;
  z-index: 3;
}

.navbar.open {
  right: 0;
}



#nav-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 60px;
  padding: 20px;
}

#nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: color 0.3s ease;
}

#nav-links a i {
  margin-right: 10px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.overlay.open {
  display: block;
}