:root {
	--nav-width: 20%;
	--margin-p: 12px;
}

*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	color: #323330;
}

#flex-container {
	display: flex;
	overflow: hidden;
	width: 100vw;
}

#main-doc {
	width: calc(100% - var(--nav-width));
	max-height: 100vh;
	overflow-y: auto;
	padding: 32px 5%;
	scroll-behavior: smooth;
}

#navbar {
	width: var(--nav-width);
	min-width: 200px;
	max-height: 100vh;
	background-color: white;
	border-right: 3px solid rgb(150, 150, 150);
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.nav-link {
	color: #323330;
	padding: 5% 0 12px 22px;
	border-bottom: 1px solid;
	text-decoration: none;
}

.nav-link:hover {
	background-color: #f0db4f;
}

p:not(code p) {
	margin: 0 0 1rem var(--margin-p);
	line-height: 1.5;
}

#navbar header {
	font-size: 24px;
	text-align: center;
	color: #323330;
	padding: 16px 0 22px;
	background-color: #f0db4f;
	border-bottom: 1px solid #323330;
}

#main-doc header {
	font-size: 1.5rem;
	padding: 16px 0;
}

ul {
	padding-left: calc(40px + var(--margin-p));
}

ul li {
	margin: 16px 0;
}

code {
	display: inline-block;
	width: 100%;
	padding: 16px;
	margin-bottom: 16px;
	background-color: rgb(235, 235, 235);
	border-radius: 10px;
}

code p {
	line-height: 1.5;
}

#menu-toggle {
	display: none;
}

/* para celulares y tablets */
@media (max-width: 768px) {
	#navbar {
		display: none;
		width: 50vw;
	}

	#menu-toggle {
		display: block;
		font-size: 32px;
		width: 50px;
		height: 50px;
		background-color: #f0db4f;
		border-radius: 50%;
		border: none;
		cursor: pointer;
		position: fixed;
		bottom: 65px;
		right: 10px;
		z-index: 2;
	}

	#main-doc {
		width: 100%;
	}

	.nav-link {
		padding-left: 20px;
		border-bottom: 1px solid;
		text-decoration: none;
	}

	#navbar header {
		font-size: 20px;
		font-weight: 400;
	}
}