body {
  font-family: Play, sans-serif !important;
  background: #5e378a;
  background: linear-gradient(150deg, rgba(94, 55, 138, 1) 5%, rgba(136, 39, 138, 1) 35%, rgba(114, 66, 168, 1) 50%, rgba(136, 39, 138, 1) 65%, rgba(94, 55, 138, 1) 95%);
  background-attachment: fixed;
}

h1 {
  text-transform: uppercase;
  font-size: 60px !important;
}

#time-left {
  font-size: 60px !important;
}

.form-label {
  font-size: 2rem;
}

#session-length,
#break-length {
  max-width: 100px;
}

#main-content {
  max-width: 500px;
  min-width: 350px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px white solid;
  border-radius: 10px;
}